@font-face {
  font-family: Thunder;
  src: url("../fonts/Thunder-BoldLC.ttf");
}

body {
  color: #fff !important;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #2d2d2d;
  z-index: 1;
  overflow-x: hidden;
  max-width: 100%;
}

#sobre h1 {
  display: inline-block;
}

#navbar-toggler li a {
  color: #fff !important;
  font-family: Roboto Condensed;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.navbar-collapse li a:hover {
  color: #feaf00 !important;
  font-family: Roboto Condensed;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn {
  border-radius: 4.8125rem;
  color: #fff;
  font-family: Roboto Condensed;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline-flex;
  padding: 1.125rem 4.25rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.btn-bg-azul {
  background-color: #285dff;
}

.btn-bg-azul:hover {
  background-color: #feaf00;
}

.btn-bg-laranja {
  background-color: #feaf00;
}
.btn-bg-laranja:hover {
  background-color: #285dff;
}

h1 {
  font-family: Thunder;
  font-size: 5.125rem;
  font-weight: 700;
  line-height: normal;
}

.servicos-cards div.card {
  border-radius: 2rem;
  min-height: 26.75rem;
  background: #fb438c;
  height: 100%;
}

.servicos-cards h4.card-title {
  color: #f6f6f6;
  font-family: Thunder;
  font-size: 1.83769rem;
  font-weight: 700;
  text-align: center;
  width: 12.1875rem;
}

.servicos-cards h4.card-title span {
  color: #f6f6f6;
  font-family: Roboto Condensed;
  font-size: 1.5625rem;
  font-weight: 700;
}

.servicos-cards p.card-info {
  font-size: 1rem;
  color: #fff !important;
}

.servicos-cards svg {
  width: 100%;
  min-height: 9rem;
}

.servicos-cards img {
  width: 100%;
  min-height: 9rem;
}

.carousel-indicators {
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
  justify-content: space-around;
}

.carousel-indicators button {
  height: 1rem !important;
  width: 1rem !important;
  border-radius: 100%;
}

.carousel-inner img {
  border-radius: 2rem;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2d2d2d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #feaf00;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#trabalhos {
  background-color: #285dff;
  border-radius: 2rem;
}

.quotation {
  color: #285dff;
  text-align: center;
  font-family: Thunder;
  font-size: 9.49588rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

div.align-self-end:has(.quotation-after) {
  transform: rotate(180deg);
}

.form-contato {
  border-radius: 2rem;
  background: #fb438c;
}

.form-contato form input,
.form-contato form textarea {
  border-radius: 2rem;
  border: 2px solid #fff;
  background-color: #fb438c;
}

.form-contato form input::placeholder,
.form-contato form textarea::placeholder {
  color: #e4e0e0;
  font-family: Roboto Condensed;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form-contato form textarea::placeholder {
  padding: 0.8rem 0rem;
}

section {
  margin-bottom: 5rem;
}

#agradecimento {
  text-align: center;
  position: relative;
}

/* #agradecimento > img {
  position: absolute;
  margin: auto;
  display: block;
  width: 45%;

  overflow: hidden;
  left: 0;
  right: 0;
  bottom: -10%;
  text-align: center;
  animation: movimento-sobe 4s, movimento-lateral 10s infinite;
} */

@keyframes movimento-sobe {
  from {
    bottom: -60%;
  }
  to {
    bottom: -10%;
  }
}

@keyframes movimento-lateral {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-9deg);
  }
  75% {
    transform: rotate(19deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

footer {
  background-color: #285dff;
}

.text-footer {
  margin-bottom: 0;
  color: #fff;
  font-family: Roboto Condensed;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer ul li,
footer ul li a {
  background-color: #285dff !important;
  color: #fff !important;
  font-family: Roboto Condensed;
  font-size: 1.5rem;
  font-style: normal;
  padding: 0 !important;
  font-weight: 700;
  line-height: normal;
  border: none !important;
  text-decoration: none;
}

footer ul li a:hover {
  color: #feaf00 !important;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  border: none !important;
}

.navbar-toggler:active {
  border: none !important;
  outline: none;
}

.puya-pato {
  position: relative;
  display: inline;
}

#pato {
  position: absolute;
  right: 7%;
  top: -208%;
}

#puya {
  z-index: 0;
  /* animation: spin 10s linear infinite; */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 576px) {
  body {
    font-size: 2rem;
  }

  h1 {
    font-weight: 700;
  }

  .carousel-indicators {
    margin-top: 1rem;
    width: 30%;
  }

  footer {
    padding: 4rem 0rem;
  }

  footer ul li,
  footer ul li a {
    margin-bottom: 2rem;
  }

  .form-contato {
    min-height: 55rem;
    padding: 3rem 2rem;
  }

  .rounded-underline {
    display: inline-block;
    padding-bottom: 1rem;
    line-height: 55%;
  }

  .rounded-underline::after {
    content: "";
    display: block;
    width: 100%;
    border-radius: 1rem;
    border-bottom: 10px solid #feaf00;
  }

  .depoimento-item p {
    color: #fff;
    text-align: center;
    font-family: Thunder;
    font-size: 2.57519rem;
    font-style: normal;
    font-weight: 700;
  }

  .depoimento-item h3 {
    font-size: 1.71675rem;
  }
}

@media (max-width: 575.98px) {
  body {
    font-size: 1.125rem;
  }

  h1 {
    font-size: 2.625rem;
  }

  .carousel-indicators {
    margin-top: 0rem;
    width: 50%;
  }

  #carouselTrabalhos .carousel-item {
    --bs-aspect-ratio: 100%;
    position: relative;
    width: 100% !important;
  }

  #carouselTrabalhos .carousel-item::before {
    display: block;
    padding-top: 100%;
    content: "";
  }

  #carouselTrabalhos .carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  footer .row .col-12 {
    padding-bottom: 2.5rem;
  }

  footer .row .col-12:first-child {
    padding-top: 2.5rem;
  }

  footer ul li:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .offcanvas.offcanvas-end {
    height: 100%;
    width: 80%;
    border-radius: 2rem 0rem 0rem 2rem;
    background: #ff4a8b;
    padding-right: 2.44rem;
  }

  .offcanvas.offcanvas-end.show .btn {
    padding: 1.125rem 4.25rem !important;
  }

  .offcanvas-header {
    padding: 2.13rem 0 5rem 0;
  }

  .offcanvas-body {
    padding: 0;
  }

  .redes-sociais {
    padding-top: 2.5rem;
  }

  .redes-sociais a {
    display: inline-block;
    margin-right: 0.9rem;
    font-size: 1.5rem;
  }

  .contato-footer h4 {
    margin-bottom: 1.31rem;
    font-size: 1.5rem;
  }

  .telefone {
    display: block;
    margin-bottom: 0.63rem !important;
  }

  .custom-gutter {
    --bs-gutter-x: 2rem;
  }

  .form-contato {
    padding: 2.5rem 1.25rem;
  }

  .form-contato label {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .botao-envia-contato {
    margin-top: 2.69rem;
  }

  input.form-control::placeholder {
    color: #e4e0e0 !important;
    font-size: 0.875rem !important;
  }

  input.form-control {
    padding: 1.12rem 0rem 1.19rem 1.25rem;
    line-height: normal;
    font-size: 0.875rem !important;
  }

  textarea.form-control::placeholder {
    color: #e4e0e0 !important;
    font-size: 0.875rem !important;
  }

  textarea.form-control {
    padding: 1.25rem 1.5rem 0 1.25rem !important;
    text-align: left !important;
  }

  section {
    margin-bottom: 6.25rem;
  }

  .btn-custom {
    padding: 1.125rem 3.125rem;
  }

  .padding-custom {
    padding: 1.86rem 0 6.25rem 0;
  }

  .rounded-underline {
    display: inline-block;
    line-height: 65%;
  }

  .rounded-underline::after {
    content: "";
    display: block;
    width: 100%;
    border-radius: 1rem;
    border-bottom: 4px solid #feaf00;
  }

  .depoimento-item {
    min-height: 24rem;
  }

  .depoimento-item p {
    color: #fff;
    text-align: center;
    font-family: Thunder;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  .depoimento-item h3 {
    font-size: 1.125rem;
    margin: 0;
  }

  #trabalhos {
    padding-top: 2.88rem;
  }
  #sobre p {
    margin-bottom: 2.15rem;
  }

  .puya-pato {
    margin-top: 1.81rem;
  }

  nav {
    margin-bottom: 2.91rem;
  }

  button[data-bs-dismiss="offcanvas"] {
    background-color: #ff4a8b;
    border: none;
  }

  .offcanvas-body li {
    margin-bottom: 2.5rem;
  }

  .offcanvas-body .btn-bg-azul {
    margin-top: 2.5rem;
    font-size: 1.5rem;
    padding: 1.12rem 4.25rem !important;
  }

  .depoimentos-header p {
    margin-bottom: 1.94rem;
  }
}

/* * {
  outline: 1px solid #f00 !important;
} */
